{% extends 'base.html.twig' %}   

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/category_add.css">
{% endblock %}

{% block content %}           

    <h1>ADDING CATEGORIES</h1>      

    {{form(form)}}

{% endblock %}
