{% extends 'base.html.twig' %}   

{% block stylesheets1 %}
            <link rel="stylesheet" href="/css/reg.css">
           
{% endblock %}

{% block content %}  

    <h1>USER's REGISTRATION</h1>      

    {{form(form)}}
   
    <br>
    <div id="message">
        {{message}}
    </div>
    
    {% if data is defined %}
        <p>  {{data['Enter_your_password:']}}
        </p>
    {% endif %}
   
   
   



{% endblock %}