{% extends 'base.html.twig' %}

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/cart_view.css">
{% endblock %}

{% block content %}           

    <h1>YOUR CART</h1>      

    <table>

        <tr>
            <th>SN</th>  <th>Product</th>  <th>Price</th>  <th>Quantity</th>  <th>Sum</th> <th> Delete the whole position </th> 
        </tr>

        <tr>

            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            
        </tr>
    
    </table>

    <h4>Total sum: </h4> <br>

{% endblock %}
