.content {
    width: 900px;
    min-height: 100px;
	padding: 20px;
	padding-left: 50px;
}
#form > div{
	margin-top: 0px;
}
button[type='submit'], button[type='reset'], button#clear {
	color: black;
	margin: 20px 10px 20px 10px;
	padding: 10px;
	width: 100px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	background-color: mediumSeaGreen;
	border: 2px solid black;
	
}
label {
	color: green;
	padding: 5px;
	margin: 0;
	display: inline-block;
	width: 300px;
	box-sizing: content-box;
}

input, select, option, textarea {
	color: black;
	width: 250px;
	padding: 2px;
	box-sizing: content-box;
}
input[type='radio']{
	width: 10px;
}
label.required {
	width: 300px;
}
table {
	margin-bottom: 10px;
	border-collapse: collapse;
}
td, th {
	border: 1px solid green;
	border-collapse: collapse;
	padding: 5px;
}
span {
	color: black;
}
span[dir='ltr'] {
	width: 250px;
}
.note {
	color:red;
	font-weight: bold;
}
a {
	text-decoration: none;
	color: black;
}
.back {
	text-decoration: none;
	color: blue;
}
#plus_minus {
	color:red;
	font-weight: bold;
	font-size: 200%;
}



