.content {
	width: 700px;
	min-height: 200px;
	padding-left: 250px;
	padding-top: 6px;
	padding-bottom: 15px;
	text-align: left;
}
table {
	margin-bottom: 10px;
	border-collapse: collapse;
}
td, th {
	border: 1px solid green;
	border-collapse: collapse;
	padding: 5px;
}
button {
	color: black;
	margin: 20px 10px 20px 10px;
	padding: 10px;
	width: 100px;
	height: 55px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	background-color: mediumSeaGreen;
	border: 2px solid black;
	text-transform: capitalize;
}
label {
	color: green;
	padding: 5px;
	margin: 0;
	display: inline-block;
	width: 200px;
	box-sizing: content-box;
}
input {
	color: black;
	width: 200px;
	box-sizing: content-box;
	padding: 0;
}
.form {
	float:left;
}
a {
	text-decoration: none;
	color: black;
}