{% extends 'base.html.twig' %}   

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/product_add.css">
{% endblock %}

{% block content %}           

    <h1>ADDING PRODUCTS</h1>      

    {{form(form)}}

    <button type="button" id="addbutton" ><a class="button" target="_blank" href="{{ path('category_add') }}">Add new category</a></button>

    <button type="button" id="addbutton"><a class="button" target="_blank" href="{{ path('categories') }}">Show all categories</a></button>
  
    {% if id is defined%}
       
        Saved new product with id: {{id}}.
 
    {% endif %}

{% endblock %}
