{% extends 'base.html.twig' %}

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/order_form.css">
{% endblock %}

{% block content %}  

<h1>COMPLETE YOUR ORDER</h1>     
   
    
{% endblock %}


