{% extends 'base.html.twig' %}   

{% block content %}           

    <a href="{{ path('app_lucky_number') }}">Homepage</a>
    <br><br>
    <h1>halloo</h1>

    <h1>{{r_str.odin}}</h1>
           
    {% for key, string in r_str| slice (0,3) %}
        {{key}}: {{string}} <br>
    {% endfor %}

{% endblock %}