<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        <h1>hallooooo!!!</h1>
           
        {% for string in random_strings %}
           
            {{string}} <br>
       
        {% endfor %}






        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
