<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Welcome!</title>
    </head>
    <body>
        
        <a href="{{ path('app_lucky_number') }}">Homepage</a>

        <h1>hallooooo!!!</h1>


           
        {% for string in random_strings %}
           
            {{string}} <br>
       
        {% endfor %}

      
    </body>
</html>
