{% extends 'base.html.twig' %}  

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/lucky.css">
{% endblock %}

{% block content %}   
    
    <h1>halloo</h1>
   
    Lucky number: {{number}}  

{% endblock %}
