{% extends 'base.html.twig' %}   

{% block stylesheets1 %}
    <link rel="stylesheet" href="/css/category_tree1.css">
{% endblock %}

{% block content %}  
    <h1>LIST OF CHILDS</h1>         
    
    
   
    {% for name in names %} 
        
        {% if name == names[0] %}
            <span id="list">List of child categories of <span id="category">{{name}}</span> (id={{id}}):</span><br>
        {% else %}
            &nbsp &nbsp {{name}}<br>
        {% endif %}
            
    {% endfor %}

    {% if names[1] is not defined %}
        &nbsp &nbspno childes<br>
    {% endif %}

{% endblock %}
